<!DOCTYPE html>
<html lang="en">
<!-- head -->
<div th:replace="index :: headFragment"></div>

<body>
	<!-- Header -->
	<div th:replace="index :: headerFragment"></div>

	<!-- Main -->
	<main>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1>Best Songs...</h1>
					<table class="mx-auto mt-5 text-center">
						<thead>
							<tr>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="movie : ${moviesList}">
								<td>
									<a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.titolo}"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

</body>

</html>